<h1><%= @mountain.name %></h1>

<h2>Info</h2>
<p>Elevation in Feet: <%= @mountain.elevation_in_feet %></p>
<p>Country: <%= @mountain.country.name %></p>
<p>Annual Climbers: <%= @mountain.annual_climbers %></p>
